<mat-card>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-title>
      {{ "Give Consents" }}
    </mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="{{ 'Name' }}" formControlName="name" />
        <mat-error *ngIf="form.get('name').invalid">
          {{ "Name" }}
          {{ "is required" }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'Email address' }}"
          formControlName="email"
        />
        <mat-error *ngIf="form.get('email').invalid">
          {{ "Email address" }}
          {{ "is required" }}
        </mat-error>
      </mat-form-field>

      <div class="form-field">
        <mat-label>I agree to:</mat-label>
      </div>

      <div class="checkbox-frame">
        <div *ngFor="let option of consentOptions; let i = index">
          <mat-checkbox
            [value]="option.value"
            (change)="onCheckboxChange($event)"
          >
            {{ option.name }}
          </mat-checkbox>
        </div>
        <mat-error *ngIf="!isStart && form.get('givenConsentArray').invalid">
          {{ "Checkbox is required, select atleast one value" }}
        </mat-error>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!form.valid"
      >
        {{ "Give consent" }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
